body{
    background-color:rgb(231, 255, 252) ;
}
h5,p{
    color:blue;
}
#jumbotronImage{
    width: 70%;
}
.cardImg{
    margin:5px;
    width: 100%;
}
.searchedMovieBtns{
    margin-top: 10px;
}
.historyBtn{
    background-color:#E9ECEF;
}
.listContentDiv{
    background-color:#E9ECEF;
    padding: 15px;
    height: 100%;
}
#listSelectionCol{
    padding: 40px;
}
#searchAreaDiv{
    padding: 40px;
}
#searchedMovieH3{
    margin-top: 60px;
    color: white;
}
#displayedListContentWrapper{
    padding: 15px;
}