.input-group{
    padding: 30px;
    margin:auto;
}
h5,p{
    color:blue;
}
/* @media screen and (min-width: 480px) {
    #searchAreaDiv {
      min-width: 400px;
      width: 400px;
    }
 input.form-control{
     width: 100%;
 }

    } */
#jumbotronImage{
    width: 70%;
}
.cardImg{
    margin:5px;
    width: 100%;

}